/**
*
*	Ćonfigurações de conteúdo da página inicial
*
*/

.home_init{
	position: absolute;
	margin:10% 5% 0 20%;
	padding: 10px;
	border: 1px solid #c0c0c0;
}

/*estilo da fonte*/
body{
	font-family: arial, helvetica, sans-serif;
	font-size: 15px;
}

a:link{
	text-decoration: none;
}

/*alinhamento do texto nos parágrafos*/
.home_init p{
	text-align: justify;
}

.home_products{

	position: absolute;
	margin:44% 5% 10% 20%;
	padding: 14px;
	border: 1px solid #c0c0c0;	
	text-align: center;
	overflow: auto;
}

.home_products figure{
	position: relative;
	width: 120px;
	height: 110px;
	margin-right: 35px;
	float: left;
}

.home_products figure a img{
	position: relative;
	width: 120px;
	height: 100px;
	margin-right: 35px;
	float: left;
}

.home_products figcaption{
	position: relative;
	width: 120px;
	height: 100px;
	margin-right: 35px;
}

.home_products figure a figcaption:hover{
	color: #abc;
}

.home_sobre{
	position: absolute;
	margin:58% 5% 10% 20%;
	padding: 14px;
	float: left;
	border: 1px solid #c0c0c0;	
	text-align: center;
	overflow: auto;
}

.home_sobre h4{

	float: left;
	margin-top: 1%;
	text-align: justify;
}


#saloes{
	margin-left: 45px;
	margin-right: 180px;
}

#contato{
	margin-left: 140px;
	
}

#sociais{
	margin-left: 300px;
	padding-right: 50px;
}

#list_city{
	margin-top: 20px;
	margin-left: -765px;
}

#list_tel{
	margin-top: -90px;
	margin-left: 440px;
	text-align: justify;
}

#list_sociais{
	margin-top: -90px;
	margin-left: 800px;
	text-align: justify;
}

.home_sobre ul li{
	list-style: none !important;
	margin-top: 2px;
}

.home_sobre ul li img{
	list-style: none !important;
	padding-right: 5px;
}
