/**
*
*Configurações de menu
*
*/

*{margin-top: 0; margin-left: 5; padding: 0;}

/*estilo da fonte do menu*/
body{
	font-family: arial, helvetica, sans-serif;
	font-size: 15px;
}

/*configurações no menu como todo*/
.menu{
	z-index: 2;
	margin-top: 0px;
	list-style: none;
	border: 10% solid #c0c0c0;
	background-color: #6A5ACD;
	padding-top: 1%;
	padding-bottom: 1%;
	float: left;
	margin-left: 19%;
	position: fixed;
}

/*configurações dos itens do menu*/
.menu li{
	position: relative;
	float: left;
	padding: 1%;
	border-right: 1% solid #c0c0c0;
	padding-left: 40px;
	padding-right: 30px;
	padding-bottom: 0px;
}

.menu a li{
	position: relative;
	float: left;
	padding: 1%;
	border-right: 1% solid #c0c0c0;
	padding-left: 40px;
	padding-right: 30px;
	padding-bottom: 0px;
}

/*configurações do conteúdo dos itens*/
.menu li a{
	color: #fff; text-decoration: none; padding: 2% 2%; display: block;
}

/*evento de passar o mouse sobre algum item*/
.menu li a:hover{
	background: #9400D3;
	color: #fff;
	-moz-box-shadow:0 3px 10px 0 #CCC; 
	-webkit-box-shadow:0 3px 10px 0 #ccc; 
	text-shadow:0px 0px 5px #fff; 
}

/*configurações de subitem*/
.menu li ul{
	position: absolute;
	top: 25px;
	left: 0;
	background-color: #fff;
	display: none;
	color: #fff;
}

/*evento de passar o mouse no item com sub-itens*/
.menu li:hover ul, .menu li.over ul{display: block;}

/*configurações dos sub-itens*/
.menu li ul li{
	border: 0px solid #c0c0c0;
	display: block;
	width: 210px;
	padding: 0px;
	color: #fff;
}

/*configurações dos conteúdos do sub-item*/
.menu li ul li a{ 
	background-color: #6A5ACD; 
	color: #fff;
}

.horizontal {
	margin-top: 650px;
	margin-left: 5%;
	size: 5px;
	width: 90%;
	position: relative;
	float: left;
}

.horizontal_horarios {
	margin-top: 15px;
	margin-left: 5%;
	size: 5px;
	width: 90%;
	position: relative;
	float: left;
}

.vertical{ /*tentando criar uma linha vertical*/
	position: relative;
	width: 2px;
	float: left;
	margin-top: 10px;
	margin-left: 5%;
}

.vertical_horarios{
	position: relative;
	width: 2px;
	float: left;
	margin: 60px 25px 0px 1%;
	
}
