/**
*
* configurações de imagens
*
*/

/*imagem logo superior esquerdo*/
.drawable img{
	float: left;
	z-index: 2;
	width: 15%;
	height: 53px;
	padding: 1px;
	margin: 0px 0px 20px 40px;	
	position: fixed;
}

.divFigure figure a img{
	min-width: 110%;
    position: relative;
    left: -13%;
}