*{margin-top: 0; margin-left: 5; padding: 0;}

body{
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;
}

.menu{
	margin-top: 5px;
	list-style: none;
	border: 1px solid #c0c0c0;
	background-color: #6A5ACD;
	float: left;
	margin-left: 25%;
}

.menu li{
	position: relative;
	float: left;
	padding: 5px;
	border-right: 0px solid #c0c0c0;
	padding-left: 50px;
	padding-right: 50px;
}

.menu li a{
	color: #fff; text-decoration: none; padding: 5px 10px; display: block;
}

.menu li a:hover{
	background: #000080;
	color: #fff;
	-moz-box-shadow:0 3px 10px 0 #CCC; 
	-webkit-box-shadow:0 3px 10px 0 #ccc; 
	text-shadow:0px 0px 5px #fff; 
	color: #fff;
}

.menu li ul{
	position: absolute;
	top: 25px;
	left: 0;
	background-color: #fff;
	display: none;
	color: #fff;
}

.menu li:hover ul, .menu li.over ul{display: block;}

.menu li ul li{
	border: 0px solid #c0c0c0;
	display: block;
	width: 210px;
	padding: 0px;
	color: #fff;
}

.menu li ul li a{ 
	background-color: #6A5ACD; 
	color: #fff;
}