body{
	background: #FFDAB9;
}

.inputTextarea{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	padding: 3px 0px 3px 3px;
	margin: 5px 1px 3px 0px;
	border: 1px solid #DDDDDD;
}
.inputTextarea:focus{
	box-shadow: 0 0 0.3em rgba(81, 203, 238, 1);
	padding: 0.3em 0.2em 0.3em 0.3em;
	margin: 0.3em 0em 0em 0em;
	border: 1px solid rgba(81, 203, 238, 1);	
}

.field {
	padding: 2em;
	border-radius: 2em;
	border: 3px solid #800000;
}

.titulo{
	font-size: 1.2em;
	margin-top: 1em;
	color: #B22222;
}

.agendar{
	position: relative;
	top: 13em;
	margin-left: 20em;
	margin-right: 20em;
}

.hora{
	margin-left: 10%;
}

.botao{
	font-size: 20px;
	font-family: Verdana,Helvetica;
	font-weight: bold;
	color: white;
	background: #638cb5;
	border: 0em;
	width: 6em;
	height: 2em;
	margin: 3em 2em 5em 2em;
	text-align: center;
}

/*Cadastro*/

.divCad{
	top: 6em;
	position: relative;
}

.cadTitulo{
	position: relative;
	font-size: 2em;
	margin-left: 5em;
	top: 1em;
	margin-bottom: 3em;
}

.cadField{
	margin: 5em 9em 20px 9em;
	padding: 1em;
	border-radius: 2em;
	border: 3px solid #800000;

}

.cadField form, label, input, select{
	margin: 1em 0em 0em 1em;
	
}

input:required:invalid {
	animation-name: all;
}

.aviso{
	width: 15em;
	height: 2em;
	margin-left: 13em;
	background:#FFDAB9;
	position: absolute;
	float: left;
	
}

.aviso p{
	font-size: 1.1em;
}