/**
*
*	Ćonfigurações de conteúdo da página inicial
*
*/

.home_init{
	position: absolute;
	margin:14% 10% 0 22%;
	padding: 30px;
	padding-top: 5px;
	border: 1px solid #c0c0c0;
}

/*estilo da fonte*/
body{
	font-family: arial, helvetica, sans-serif;
	font-size: 15px;
}

a:link{
	text-decoration: none;
}

/*Div que engloba imagem e menu*/
.cabecalho{
	z-index: 2;
	width: 100%;
	height: 9%;
	border: none;
	background: #800000;
	position: fixed;
	box-shadow: 1px 1px 10px #800000;
}

.nomeSalao{
	margin-top: 1%;
	margin-right: 0%;
	margin-left: 0%;
	width: 100.6%;
	height: 15%;
	border: none;
	background-color: #FF7F50;
	position: relative;
	float: left;
}

/*Nome abaixo do menu*/
.nome_salao{
	padding: 0% 0% 4% 0%;
	position: relative;
	font-size: 340%;
	color: #F0E68C;
	text-align: center;
	float: left;
	margin: 7% 0px 0px 25%;
	letter-spacing: 20px;
}

/*alinhamento do texto nos parágrafos*/

.home_init{
	width: 95%;
	top: 28px;
	border: none;
	margin-left: 0%;
	background: #8B0000;
}

.home_init p{
	color: #FFFFFF;
	font-size: 20px;
	font-family: Calibri;
	float: left;
	top: 30px;
	text-align: justify;
	padding: 1% 10% 0% 10%;
}

.divMainProducts{
	margin-right: 0%;
	margin-left: 0%;
	width: 99.5%;
	height: 300%;
	border: none;
	background-color: #FFDAB9;
	position: absolute;
	float: left;
}

.divFigure{
	width: 65%;
	border: 1px solid;
	height: 30%;
	position: relative;
	float: left;
	background: #ffffff;
	margin-left: 10%;
	margin-top: 40%;
	border: none;
}

.divFigure figure a figcaption{
	margin-top: 10%;
	margin-bottom: -50%;
	margin-left: -30%;
	font-size: 15px;
	color: #000000;
	position: absolute;
}

.divFigure figure a figcaption p{
	margin-top: 0%;
	margin-bottom: -50%;
	margin-left: -6%;
	font-size: 20px;
	color: #B22222;
}

.figCaption{
	position: absolute;
	margin-top: 5%;
	width: 65%;
	left: 38%;
	background: #ffffff;
}

.home_products{
	position: absolute;
	margin: 58% 0 0% 9%;
	margin-right: 10%;
	margin-left: 12%;
	padding: 1%;
	border: 1px solid #800000;	
	text-align: center;
	overflow: auto;
	background: #FFFFFF;
	border-radius: 10px;
}

.home_products figure{
	position: relative;
	width: 120px;
	height: 110px;
	margin-right: 35px;
	float: left;
}

.home_products figure a img{
	position: relative;
	width: 120px;
	height: 100px;
	margin-right: 35px;
	float: left;
}

.home_products figcaption{
	position: relative;
	width: 120px;
	height: 100px;
	margin-right: 35px;
}

.home_products figure a figcaption:hover{
	color: #abc;
}

/*Menu serviços*/

.servicos{
	width: 100.6%;
	height: 10%;
	background: #FFDAB9;
	margin-top: 30%;
	float: left;
	 
}

.servicos p{
	font-size: 30px;
	font-family: Calibre, Arial;
	color: #B22222;
	text-align: justify;
	position: relative;
	margin: 2% 2% 0px 6%;
	float: left;
}

.cuidados{
	font-size: 20px;
	text-align: justify;
	font-family: Calibri, Arial;
	position: relative;
	float: left;
	margin: 140px 0px 0px -20%;
}


/*Menu horarios*/

.horarios{
	width: 100.6%;
	height: 10%;
	background: #FFDAB9;
	margin-top: -7%;
	padding-top: 7%;
	float: left;
}

.horarios p{
	color: #B22222;
	font-size: 35px;
	position: relative;
	margin: 40px 0px 0px 5%;
	float: left;
}

.dias_semana{
	font-size: 22px;
	text-align: center;
	position: relative;
	float: left;
	margin: 150px 14% 0px -12%;
	list-style-type: none;
}

.home_sobre{
	position: relative;
	margin: 5% 5% 2% 10%;
	padding: 14px;
	float: left;
	border: 1px solid #c0c0c0;	
	text-align: center;
	overflow: auto;
}

.home_sobre h4{

	float: left;
	margin-top: 1%;
	text-align: justify;
}


#saloes{
	margin-left: 45px;
	margin-right: 180px;
}

#contato{
	margin-left: 120px;
	
}

#sociais{
	margin-left: 300px;
	padding-right: 50px;
}

#list_city{
	position: relative;
	margin-top: 20px;
	margin-left: -75%;
}

#list_tel{
	margin-top: -90px;
	margin-left: 45%;
	text-align: justify;
}

#list_sociais{
	margin-top: -90px;
	margin-left: 800px;
	text-align: justify;
}

.home_sobre ul li{
	list-style: none !important;
	margin-top: 2px;
}

.home_sobre ul li img{
	list-style: none !important;
	padding-right: 5px;
}

/*Agendamento*/

.divAgendar{
	width: 100.6%;
	height: 900px;
	background: #FFDAB9;
	position: relative;
	float: left;
	border: none;
	margin-top: 3%;
}

.inputTextarea{
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
.inputTextarea:focus
{
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);	
}

.field{
	padding: 2%;
	border-radius: 10px;
	border: 3px solid #800000;
}

.titulo{
	font-size: 19px;
	margin-top: 13px;
	color: #B22222;
}

.agendar{
	position: relative;
	top: 150px;
	margin-left: 20%;
	margin-right: 20%;
}

.hora{
	margin-left: 10%;
}

.botao{
	font-size: 20px;
    font-family: Verdana,Helvetica;
    font-weight: bold;
    color: white;
    background: #638cb5;
    border: 0px;
    width: 130px;
    height: 40px;
    margin: 0px 3% 70px 3%;
    text-align: center;
}

/*Cadastro*/

.divCad{
	top: 130px;
	position: relative;
}

.cadTitulo{
	position: relative;
	font-size: 25px;
	margin-left: 10%;
	top: 30px;
	margin-bottom: 5%;
}

.cadField{
	margin: 20px 10% 20px 10%;

}

.cadField label, input, select{
	margin: 15px 0px 5px 1%;
	
}
