.table_products table{
	position: absolute;
	margin-top: 15%;
	margin-left: 15%;
}

.table_products table tr td figure a img{

	width: 45%;
	height: 20%;
	margin: 13%;

}

.table_products figcaption{
	position: relative;
	text-align: center;
	width: 120px;
	height: 100px;
	margin-left: 18%;
}

.divMainProducts{
	margin-right: 0%;
	margin-left: 0%;
	width: 99.5%;
	height: 300%;
	border: none;
	background-color: #FFDAB9;
	position: absolute;
	float: left;
}

.divMainProducts table{
	top: -8%;
}

.divFigure{
	width: 65%;
	border: 1px solid;
	height: 30%;
	position: relative;
	float: left;
	background: #ffffff;
	margin-left: 10%;
	margin-top: 40%;
	border: none;
}

.divFigure figure a figcaption{
	margin-top: 10%;
	margin-bottom: -50%;
	margin-left: -30%;
	font-size: 15px;
	color: #000000;
	position: absolute;
}

.divFigure figure a figcaption p{
	margin-top: 0%;
	margin-bottom: -50%;
	margin-left: -6%;
	font-size: 20px;
	color: #B22222;
}

.figCaption{
	position: absolute;
	margin-top: 5%;
	width: 65%;
	left: 38%;
	background: #ffffff;
}

/*Menu lateral*/

.menuLateral{ 
	margin-top: 4%; /* retira o recuo para alguns browsers */
	padding: 0; /* retira o recuo para outros browsers */
	background-color: #800000; /* cor do fundo */ 
	width: 16%; /* uma largura para o menu */ 
	border: 1px solid #003399; 
	/* uma borda em volta do menu */ 
}

.menuLateral li {
	list-style-type: none; /* retira o marcador de listas*/ 
	border-bottom:1px solid #a4a0f5; /* coloca uma borda azul entre links */ 
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 6%;
}

.menuLateral li a:link {
	text-decoration: none; /* retira o sublinhado dos links */ 
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif; /* define o tipo de fonte */ 
	font-size:14px; /* define o tamanho da fonte */ 
	color:#5e0f50; /* define a cor da fonte */ 
}

.menuLateral li:hover {
	background-color: #FFE4B5; /* cor do fundo */
	color: #DAA520; /* cor da fonte */
	display: block;
}

.menuLateral li:hover ul, .menuLateral li.over ul {
	display: block;
}

.menuLateral li a:link, .menuLateral li a:visited {
	display: block;
	
}

/*Sub-itens*/





