.table_products table{
	position: absolute;
	margin-top: 10em;
	margin-left: 14em;
}

.table_products table tr td figure a img{
	width: 8em;
	height: 7em;
	margin: 2em 2em 2em 0em;

}

.table_products figcaption{
	position: relative;
	text-align: center;
	width: 10em;
	height: 10em;
	left: -1.3em;
}

.divMainProducts{
	margin-right: 0%;
	margin-left: 0%;
	width: 89.7em;
	height: 110em;
	border: none;
	background-color: #FFDAB9;
	position: absolute;
	float: left;
}

.divMainProducts table{
	top: -6em;
}

.divFigure{
	width: 11em;
	border: 1px solid;
	height: 12em;
	position: relative;
	float: left;
	background: #ffffff;
	margin-left: 6em;
	margin-top: 6em;
	border: none;
}

.divFigure figure a figcaption{
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: -2em;
	font-size: 1em;
	color: #000000;
	position: absolute;
}

.divFigure figure a figcaption p{
	margin-top: 0em;
	margin-bottom: 1em;
	margin-left: 0em;
	font-size: 1.5em;
	color: #B22222;
}

.figCaption{
	position: absolute;
	margin-top: 0em;
	width: 10em;
	left: 4em;
	background: #ffffff;
}


